@import "~@/scss/_variables.scss";

.el-tabs__header {
    background-color: $theme-background-dark;

    .el-tabs__nav {
        border-radius: 0;
        padding-left: 6px;

        .el-tabs__item {
            height: 36px;
            line-height: 36px;

            &.is-active {
                border-radius: 8px 8px 0 0;
                background-color: white;
            }

            &:not(.is-active) {
                // background-color: $theme-background-dark;
            }
        }
    }
}