// $header-thin: 48; // 首页头部尺寸

$body-min-width: 1440px; // 页面最小宽度，当浏览器小于此宽度时，出现横向滚动条
$body-min-height: 576px; // 页面最小高度，当浏览器小于此高度时，出现竖向滚动条


$font-color-dark:#303133;
$font-color-light:#909399;
$theme-main-color: #347EFF; // 主题主色 RURIKON
$theme-background-dark: #E3EAF4; //后台背景色
$theme-background-light: #F2F5F9; //后台背景色
$theme-background-dark2: #E6E6E6; //后台背景色


$header-height: 66px;
$html-background: #f2f5f9;
$header-row-background: #ffffff;
$aside-background: #ffffff;
$aside-active-background: #347eff;
